ul.mainNav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.8);
	flex-flow: column wrap;
	text-align: center;
	justify-content: space-around;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s linear;
	transform: scale(1.5);
	z-index: 10000;
}

ul.mainNav.show {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	margin: 0;
}

ul.mainNav li {
	padding: 25px 0;
	font-size: 2rem;
	list-style-type: none;
}

ul.mainNav a {
	font-family: 'Rufina', serif;
	color: $notBlack;
	font-weight: bolder;
	transition: all 0.3s ease;
	text-decoration: none;
	&:hover,
	&:focus {
		border: none;
		border-bottom: 3px solid $orange;
		padding: 7px;
		color: $orange;
	}
}

div.fa-bars {
	position: fixed;
	top: 6%;
	right: 4%;
	display: inline-block;
	z-index: 10000000000;
	color: $notBlack;
	background: white;
	padding: 10px;
	font-size: 2.5rem;
	transition: all 0.3s ease;
	&:hover,
	&:focus {
		background: $orange;
		color: white;
	}
}