@import 'setup';
@import 'variables';

.container {
	max-width: 900px;
	margin: 0 auto;
}

//GENERAL STYLES

html {
	font-size: 62.5%;
}

header,
section,
footer {
	padding: 50px;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Rufina', serif;
}

h2 {
	color: $orange;
}

header,
.foodTypes,
.menu,
.about,
.gallery,
.journal,
.reservations,
.contact,
footer {
	background-size: cover;
	background-position: center center;
}

//HEADER STYLES

header {
	height: 80vh;
	background-image: url('../images/hero.jpg');
}

header img {
	display: block;
	margin: auto;
}

.headerText {
	text-transform: uppercase;
	color: white;
	width: 30%;
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.coffeeRing {
	display: flex;
	margin: auto;
	position: relative;
	img {
		width: 30%;
		margin: auto;
	}
}

.ringText {
	color: white;
	position: absolute;
	top: 22%;
	left: 0;
	bottom: 0;
	right: 0;

	p {
		font-size: 1.5rem;
		text-align: center;
	}
}

//CIRCLE IMG STYLES


//FOOD STYLES

.foodTypes {
	height: 50vh;
	background-color: #fefcf8;
}

//MENU STYLES

.menu {
	height: 100vh;
	background-image: url('../images/menubg.png');
}

// ABOUT STYLES

.about {
	height: 60vh;
	background-image: url('../images/aboutbg.png');
}

// GALLERY STYLES

.gallery {
	height: 70vh;
	background-image: url('../images/gallerybg.jpg');
}

//JOURNAL STYLES

.journal {
	height: 100vh;
	background-image: url('../images/journalbg.png');
}

// RESERVATIONS STYLES 

.reservations {
	height: 80vh;
	background-image: url('../images/reservationbg.png');
}

//CONTACT STYLES 

.contact {
	height: 80vh;
	background-image: url('../images/contactbg.png');
}

// FOOTER STYLES 

footer {
	height: 50vh;
	background-image: url('../images/footerbg.png');
}

