@import 'setup';
@import 'variables';
@import 'header';
@import 'navigation';
@import 'menu';
@import 'about';
@import 'gallery';
@import 'journal';
@import 'reservations';
@import 'contact';
@import 'footer';

//GENERAL STYLES

html {
	font-size: 62.5%;
}

header,
section,
footer {
	padding: 50px;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

article {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Rufina', serif;
}

h2,
h3
 {
	color: $orange;
}

h2 {
	font-size: 4rem;
}

header,
.foodTypes,
.menu,
.about,
.gallery,
.journal,
.reservations,
.contact,
footer {
	background-size: cover;
	background-position: center center;
}

@import '_media-queries';

// // MEDIA QUERIES

// @media (max-width: 940px) {

// } 

// @media (max-width: 760px) {

// }

// @media (max-width: 480px) {

// }
