@import 'setup';
@import 'variables';

.container {
	max-width: 900px;
	margin: 0 auto;
}

//GENERAL STYLES

html {
	font-size: 62.5%;
}

header,
section,
footer {
	padding: 50px;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25rem;
}

article {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Rufina', serif;
}

h2,
h3
 {
	color: $orange;
}

h2 {
	font-size: 4rem;
}

header,
.foodTypes,
.menu,
.about,
.gallery,
.journal,
.reservations,
.contact,
footer {
	background-size: cover;
	background-position: center center;
}

//HEADER STYLES

header {
	height: 85vh;
	background-image: url('../images/hero.jpg');

	img {
		display: block;
		margin: auto;
	}
}

img.windMill {
	margin-bottom: 2%;
}


.headerText {
	text-transform: uppercase;
	color: white;
	width: 30%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	font-weight: bolder;
}

//CIRCLE IMG STYLES

.coffeeRing {
	display: flex;
	margin: auto;
	position: relative;
	top: 50px;
	img {
		width: 33%;
		margin: auto;
	}
}

.ringText {
	color: white;
	position: absolute;
	top: 17%;
	left: 0;
	bottom: 0;
	right: 0;

	p {
		font-size: 1.25rem;
		text-align: center;
	}
}

//FOOD STYLES

.foodTypes {
	background-color: #fefcf8;
	text-align: center;
}

.foodTypes .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	figure {
		width: calc(33.33% - 40px);
		margin: 130px 20px 0 20px;

		img {
			height: 120px;
		}
	}
}

//MENU STYLES

.menu {
	background-image: url('../images/menubg.png');
}

.titleBox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.titleText {
	h2 {
		color: white;
		font-size: 5rem;
		font-weight: lighter;
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
	}
}

.menu .wrapper {
	display: flex;
	justify-content: space-between;
}

.menuLeft,
.menuRight {
	width: calc(50% - 16px);
	margin-right: 8px;
	padding: 0.5%;
	border: 3px solid $gray;
}

.innerBox {
	border: 1px solid $gray;
	padding: 5%;
}

.menuLeft h3,
.menuRight h3 {
	margin: 10px 0;
	font-size: 3rem;
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 2px solid $orange;
}

.treats {
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
	display: flex;
	justify-content: space-between;

	p {
		font-size: 1.5rem;
		margin-bottom: 0;
	}
}

p.extra {
	margin-top: 5px;
	font-size: 1rem;
	color: $gray;
	width: 85%;
	line-height: 1.5;
}
// ABOUT STYLES

.about {
	background-image: url('../images/aboutbg.png');

	p {
		width: 50%;
	}

	img {
		 margin-top: 10%;
	}
}


// GALLERY STYLES

.gallery {
	background-image: url('../images/gallerybg.jpg');
}

.gallContainer {
	display: flex;
}

.galleryList {
	width: 20%;
	padding: 2px;
	background: white;
	border: 3px solid $gray;
	height: 100%;

	p {
		font-family: 'Rufina', sans-serif;
		font-weight: bold;
		text-align: right;
	}
}

.gallBox {
	padding: 5% 25% 5% 13%;
	border: 1px solid $gray;
}

.galleryGrid {
	width: calc(80% - 2%);
	margin-left: 2%;
	display: flex;
	flex-wrap: wrap;

	figure {
		width: 33.33%;
		margin: 0;

		img {
			width: 100%;
			margin-bottom: -1%;
		}
	}
}

//JOURNAL STYLES

.journal {
	background-image: url('../images/journalbg.png');

	button {
		display: flex;
		margin: 10px auto;
		background: none;
		border: none;
		color: $orange;
		padding: 5px 20px;
		border-radius: 5px;
		border: 2px solid $orange;
	}
}

.journalContainer {
	display: flex;
	flex-wrap: wrap;

	figure {
		width: 33.33%;

		img {
			width: 100%;
			margin-bottom: -1%;
		}
	}
}

// RESERVATIONS STYLES 

.reservations {
	height: 80vh;
	background-image: url('../images/reservationbg.png');
}

//CONTACT STYLES 

.contact {
	background-image: url('../images/contactbg.png');
}

// FOOTER STYLES 

footer {
	height: 50vh;
	background-image: url('../images/footerbg.png');
}

